*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    list-style: none;
    box-sizing: border-box;
}
.w-100
{
    width: 100%;
    
}
.w-1140
{
    width: 1140px;
    margin: auto;
    /* background-color: aqua; */
    opacity: 0.9;
    /* background-color: aqua; */
}
.flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}
/* .flexf
{
    display: flex;
    flex-wrap: wrap;
} */
.w10
{
   width: 10%;
   /* background-color: black; */
}
.w10 span
{
    color: #ffc451;
    font-size: 40px;

}

.w10 h1
{
    color: white;
    padding: 5px 0px 5px 30px;
}
.w-70
{
    width: 70%;
    /* background-color: blueviolet; */
}
ul li a
{
    padding-left: 40px;
    margin: 50px 0px 0px 0px;
    color: white;
}
ul li 
{
    padding-left: 10px;
    margin: 10px 0px 0px 0px;
    color: black;
}
li a:hover
{
    color: #ffc451
}
.w-20
{
    width: 15%;
    /* background-color: blue; */
    position: relative;
}
.btn-start
{
    color: white;
    font-size: 14px;
    padding: 5px 20px;
    margin: 5px 0px 0px 30px;
    border-radius: 4px;
    /* transition: 0.3s; */
    position: absolute;
    border: 2px solid #ffc451;
}
.header{
    background-color:black;  
    opacity: 1;
    padding: 10px 0px;  
    align-content: center; 
}
.bimg
{
    width: 100%;
    display: block;
    position: relative;
}
img{
    width: 100%;
    display: block;
}
.bimg::before
{
    width: 100%;
    content: "";
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
}
.big-pera
{
    width: 500px;
    position: absolute;
    margin: -750px 0px 0px 33% ;
    /* background-color: aqua; */
    padding: 0px 0px 0px 35px;
   
   
}
.big-pera h1
{
    font-size: 52px;
    /* padding: 4px 0px 10px 0px; */
    color: white;
   
}
.big-pera span
{
    color:#ffc451;
}
.big-pera h2
{
    color: #bcb0b0;
    font-size: 22px;
    margin-top: 10px;
    font-weight: lighter;
   
}
#pera{
    margin-left: -25px;
}
.box-container
{
    width: 1000px;
    /* background-color: aqua; */
    /* position: absolute; */
    margin: 30% 0px 0px -300px ;
    /* padding: 10px; */
}
.box{
    width: calc(200px - 30px);
    margin: 15px;
    /* background-color: blue; */
    position: relative;
    border: 2px solid #555555;
   

   
}
.box:hover{
    border: 2px solid #ffc451;
}

.box p{
    font-size: 25px;
    /* margin-left: 40px; */
    /* margin-top: 10px; */
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: lighter;
    color: white;
    text-align: center;
}
.box p:hover
{
    color: #ffc451;
}
.box i
{
    font-size: 40px;
    /* margin-left: 60px;   */
    margin-top: 50px;
    /* margin-left: 50px; */
    color: #ffc451;
    text-align: center;

}
.big-box
{
    width: calc(50% - 30px);
    /* background-color: #ffc451; */
    margin: 15px;
    padding-top: 68px;
    
}
.big-box h2
{
    /* margin-left: 50px; */
}
.big-box p
{
    font-style: italic;
    font-size: 17px;
    margin-top: 10px;
    /* margin-left: 50px; */
    padding: 5px;
}
.big-box span
{
    margin-top: 30px;
    position: absolute;
    /* position: relative; */
    margin-left: 70px;
}
.big-box h3
{
    margin-top: 80px;
    font-weight: lighter;
    font-size: 17px;
    margin-left: 70px;   
}
#space
{
    margin-top: 30px;
}
.big-box i
{
    /* margin-left: -20px; */
    /* position: absolute; */
    color: #ffc451;
}
.flex1
{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

.icon
{
    font-size: 35px;
}
.content
{
        width: calc(100% - 30px);
        margin: 15px;
        /* background-color: aqua; */
}
.info p
{
    font-style: normal;
    margin: 0px 0px 0px 40px;
}
.info h2
{
    margin: -35px 0px 0px 50px ;
    position: absolute;
} 
.heading
{
    width: 800px;
    padding-bottom: 40px;
    padding-top: 50px;
}
.heading p::after
{
    background-color: #ffc451;
    height: 2px;
    width: 100px;
    position: absolute;
    content: "";
    margin-top: 10px;
    margin-left: 20px;
}
.heading h1
{
    margin-top: 10px;
    font-size: 35px;
}
.service
{
    width: calc(33.33% - 30px);
    margin: 15px;
    /* background-color: aqua; */
    justify-content:space-between;
    box-shadow:0px 0px 25px rgb(197, 191, 191);
}
.service:hover
{
    transform: translateY(-10px);
}
.icon-i
{
    width: 10%;
    background-color: #ffc451;
    padding: 30px 50px 20px 30px;
    margin-top: 50px;
    border-radius: 10px;
    /* margin: 0px 0px 0px 40%; */
}
.icon-i i
{
    font-size: 35px;
    margin-left: -8px;

}
.info-pera
{
    /* background-color: #bcb0b0; */
    margin-top: 20px;
}
.info-pera h3
{
    text-align: center;
    font-weight: 100px;
}
.info-pera p
{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 40px;
    font-weight: lighter;
}
.con-img
{
    width: 100%;
    /* display: block; */
    background-image: url("https://bootstrapmade.com/demo/templates/Gp/assets/img/cta-bg.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* position: absolute; */
    z-index: -1;
}
.con-img::before
{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.3;
    width: 100%;
   height: 300px;
}
.container{
    z-index: 3;
    position: absolute;
    /* background-color: #ffc451; */
    margin-top: 70px;
    width: 70%;

}
.container h1
{
    color: white;
    text-align: center;
}
.container p
{
    text-align: center;
    color: white;
    margin-top: 15px;
    font-size: 18px;
    padding-bottom: 40px;
}
button  
{
    position: relative;
    /* top: 0px; */
    left: 350px;
    width: 150px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    background-color:black;
    border-color: rgb(15, 15, 15);
    color: #494646;
    font-size: 20px;
    border-radius: 10px;
}
button:hover
{
    background-color: #ffc451;
    border-color: #ffc451;
    color: white;
}
.menu
{
    width: 100%;
    /* background-color: #ffc451; */
}
.menu li 
{
    /* background-color: #ffc451; */
    text-align:right;
    display: inline-block;
    cursor: pointer;
    padding: 8px 20px 10px 20px;
    line-height: 1;
    margin: 5px;
    border-radius: 5px;
    /* position: absolute; */
}

#all
{
    background-color: #ffc451;
    padding: 8px 25px 10px 25px;
}
.menu li:hover
{
    background-color: #ffc451;
}
.emg-sec
{
    width: calc(33.33% - 30px);
    margin: 15px;
    position: relative;
    /* background-color: #494646; */
}
.emg
{
    width: calc(100% - 30px);
    margin: 15px;
    position: relative;
}
.des
{
    width: 100%;
    position: absolute; 
    z-index: 8;
    background-color: white;
    display: none;
    bottom: 0px;
    /* background-color: #2eca6a; */
}
.emg:hover .des
{
    display: block;
}
.des h3
{
    margin-left: 15px;
}
.des p
{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 15px;
}

#i1
{
    position: absolute;
    margin-left: 50px;
    margin-top: 0px;
    font-size: 30px;
}
.des i
{
    
    position: absolute;
    margin-left: 20px;
    margin-top: -60px;
    font-size: 30px;
    color:#bcb0b0;
}
.des i:hover
{
    color: #ffc451;
}
.sec{
    width: 40% ;
    background-color: #bcb0b0;
}
.sec1
{
    width:calc(60% - 30px);
    margin-left: 20px;
    /* margin-left: 40px; */
    /* background-color: #bcb0b0; */
}
.h-pera
{
    width: 600px;
    /* background-color: #ffc451; */
    margin-left: 30px;
}
.h-pera p
{
    margin-top: 20px;
    font-size: 18px;
}
.flex2
{
    display: flex;
    flex-wrap: wrap;
}
.div-50
{
    width: calc(25% -0px);
    margin: 15px;
    /* background-color: aqua;   */
    padding: 10px  0px 40px 10px;
}
.div-50 i
{
    font-size: 50px;
    color: #ffc451;
}
.mini-info
{
    width: 150px;
    margin-left: 20px;
}
.mini-info p
{
    color: #555555;
    font-weight: lighter;
    padding-top: 20px;
    margin-left: -10px;
}
.mini-info span
{
    color: #444444;
}
